################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/
bin/
obj/
.pdb
.user
.vscode/
/src/backend/Senparc.Web/wwwroot/bower_components
/src/backend/Senparc.Web/logs/
*.user
/src/backend/Senparc.Web.OldMvc
/src/backend/Senparc.Web/App_Data/SenparcTraceLog/*
# /src/backend/Senparc.Web/wwwroot/lib/*
/src/backend/ProjectFileManager
/src/backend/Senparc.Web/App_Data/*.bak
/src/backend/Senparc.Web/wwwroot/NcfDocs
/src/backend/Senparc.Xncf.TemplateTest/*
/src/backend/Senparc.Database/Senparc.Database.dbmdl
/src/backend/Senparc.Database/Senparc.Database.jfm
/src/backend/Senparc.Web/App_Data/logs/*
/src/backend/NCF.sln-backup-*.sln
/src/backend/netstandard2.1
/src/backend/Senparc.Xncf.XncfBuilder.Template.*
/src/backend/Senparc.Web.DatabasePlant/App_Data/SenparcTraceLog
/src/backend/published
/src/backend/Senparc.Web/App_Data/ApiDocXml
